body {    background-color: #f7e6e1;
}
.title {    font-size: 32px;
     white-space: nowrap;     color:#214a57; 
}.bold-italic {
    font-weight: bold;    font-style: italic;
    color:#214a57 ;}
p {    color:#214a57; 
}
.container {
    text-align: center; 
    display: block; 
    margin-bottom: 1em;
}
.centered-text {
    max-width: 600px; /* Устанавливаем максимальную ширину текста */
    text-align: center; /* Центрируем текст по горизонтали */
}
