body {    background-color: #f7e6e1;
}
.title {    font-size: 32px;
     white-space: nowrap;     color:#214a57; 
}.bold-italic {
    font-weight: bold;    font-style: italic;
    color:#214a57 ;}
p {    color:#214a57; 
}
.container {
    text-align: center; /* Выравнивание текста по центру */
}

.container p {
    display: block; /* Установка каждого <p> на новой строке */
    margin-bottom: 1em; /* Отступ между абзацами */
}
